.tech-stack-section {
  padding: 50px 0;
  text-align: center;
  background-color: #A9BDF2;
  color: #ffffff;
  min-height: 40vh;
  perspective: 1000px; 
}


.section-title {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 50px;
  text-transform: uppercase;
  position: relative;
  animation: fadeInDown 2s;
}

.tech-stack-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 40px;
  padding: 0 10%;
  animation: fadeInUp 2s;
  transform-style: preserve-3d; 
}

.tech-item {
  background-color: #8098cb;
  color: #ffffff;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
  transition: background-color .5s, transform .3s;
  position: relative; 
}

.tech-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tech-logo {
  height: 100px;
  margin: 0 auto; 
}

.tech-name {
  text-align: center; 
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.tech-description {
  text-align: center; 
  margin-top: 10px;
}

@keyframes fadeInDown {
  0% {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
  }

  100% {
      opacity: 1;
      transform: none;
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
  }

  100% {
      opacity: 1;
      transform: none;
  }
}

@media screen and (max-width: 600px) {
  .tech-stack-container {
    flex-direction: column; 
  }
}